<form action="/store/favourites" method="POST">
    <button type="submit" class="px-4 py-2 bg-yellow-500 rounded-lg shadow-md mt-3">Add to favourites</button>
    <input type="hidden" name="_id" value="<%=home._id%>">
</form>